.advantages__container {
  padding-top: 25px;
  padding-bottom: 57px;
  background-color: #ffffff;
}

.advantages__title {
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.advantages__wrapper {
  padding-right: 30px;
  padding-left: 30px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.advantages__item {
  position: relative;
  padding-top: 83px;
  padding-bottom: 0;
  padding-right: 50px;
}

.advantages__svg {
  position: absolute;
  fill: #6dd4bf;
}

.advantages__svg--eco {
  top: 32px;
  left: 8px;
}

.advantages__svg--style {
  top: 32px;
  left: 0;
}

.advantages__svg--likes {
  top: 38px;
  left: 8px;
}

.advantages__svg--handmade {
  top: 35px;
  left: 4px;
}

.advantages__svg--support{
  top: 35px;
  left: -4px;
}

.advantages__svg--pack {
  top: 35px;
  left: 3px;
}

.advantages__item:first-child {
  padding-right: 70px;
}

.advantages__item:nth-child(3) {
  padding-right: 60px;
}

.advantages__item:nth-child(5) {
  padding-right: 5px;
}

.advantages__description {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages__container {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .advantages__wrapper {
    padding: 0;
  }

  .advantages__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 47px;
    padding-bottom: 45px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  .advantages__item {
    width: 334px;
    padding-right: 87px;
    padding-top: 60px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }

  .advantages__item:first-child {
    padding-right: 130px;
  }

  .advantages__item:nth-child(3) {
    padding-right: 100px;
  }

  .advantages__item:nth-child(5) {
    padding-right: 35px;
  }

  .advantages__item--second {
    order: 1;
  }

  .advantages__item--third {
    order: 2;
  }

  .advantages__svg--eco {
    top: 8px;
    left: 10px;
  }

  .advantages__svg--style {
    top: 8px;
    left: 2px;
  }

  .advantages__svg--likes {
    top: 10px;
    left: 10px;
  }

  .advantages__svg--handmade {
    top: 8px;
    left: 5px;
  }

  .advantages__svg--support{
    top: 8px;
    left: -4px;
  }

  .advantages__svg--pack {
    top: 8px;
    left: 3px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__container {
    padding-top: 13px;
    padding-bottom: 40px;
  }

  .advantages__list {
    padding-left: 175px;
    padding-right: 175px;
  }

  .advantages__title {
    padding-left: 172px;
    padding-top: 49px;
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__item {
    width: 350px;
    padding-bottom: 50px;
  }

  .advantages__item:nth-child(3) {
    padding-right: 120px;
  }

  .advantages__svg--eco {
    top: 5px;
    left: 9px;
  }

  .advantages__svg--likes {
    top: 12px;
    left: 9px;
  }
}
