.button {
  font: inherit;
  font-weight: bold;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444444;
  padding-top: 14px;
  padding-bottom: 14px;
}

.button:hover {
  color: #ffffff;
  background-color: #444444;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #444444;
}
