.catalog {
  outline: 1px solid red;
}

.catalog__item {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 93px;
    background-color: #ffffff;
  }

  .catalog__item {
    padding: 0;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    padding-top: 130px;
    background-color: #ffffff;
  }

  .catalog__item {
    width: 316px;
    margin-right: 51px;
  }

  .catalog__item:nth-child(3n) {
    margin-right: 0;
    color: green;
  }
}
