.copywrite {
  display: flex;
}

.copywrite__text {
  padding: 0;
  padding-top: 5px;
  padding-left: 40px;
  margin: 0;
  width: 175px;
  color: #000000;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}

.copywrite__logo {
  padding-right: 75px;
  padding-left: 0;
  width: 30px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .copywrite__text {
    padding-top: 10px;
    padding-left: 20px;
  }

  .copywrite__logo {
    padding-right: 0;
  }
}
