.desc-block {
  padding-top: 60px;
  min-height: 312px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fafafa;
  outline: 1px solid blue;
}
