.form-size {
  display: flex;
  flex-wrap: wrap;
  padding-left: 107px;
  padding-right: 107px;
  outline: 1px solid red;
}

.form-size__text {
  width: 92px;
  flex-grow: 1;
  color: #000000;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border: 2px solid rgba(68, 68, 68, 0.1);
}

.form-size__text--active {
  border: 2px solid rgba(99, 209, 187, 1);
}

.form-size__send {
  width: 100%;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}
