.form-size__text {
  color: #000000;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  border: 2px solid rgba(68, 68, 68, 0.1);
}
.form-size__choice--active {
  border: 2px solid rgba(99, 209, 187, 1);
}
.form-size__send {
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}
