.inner-title {
  padding: 0;
  padding-top: 75px;
  padding-bottom: 75px;
  margin: 0;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  outline: 1px solid blue;
}

@media (min-width: $tablet-width) {
  .inner-title {
  font-size: 43px;
  line-height: 50px;
  }

}

@media (min-width: $desktop-width) {
  .inner-title {
    font-size: 53px;
    line-height: 57px;
  }

}
