.modal-busket {
  position: fixed;
  bottom: 50%;
  left: 50%;
  width: 260px;
  height: 263px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 46px;
  margin-left: -160px;
  margin-bottom: -171px;
  background-color: #ffffff;
  outline: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  text-align: center;
  z-index: 20;
}

.modal-busket--close {
  display: none;
}

.modal-busket--show {
  display: block;
}

.modal-busket__btn-close {
  display: none;
}

.modal-busket__title {
  padding: 0;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-busket__text {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .modal-busket {
    width: 360px;
    height: 263px;
    padding-right: 105px;
    padding-left: 105px;
    margin-left: -285px;
    margin-bottom: -171px;
  }

  .modal-busket__title {
    font-size: 30px;
    line-height: 57px;
    padding-right: 0;
    padding-left: 0;
  }
}
