.products {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.products__link--left {
  background-color: #63d1bb;
}

.products__link--right {
  background-color: #56c3b2;
}

.products__link {
  display: block;
  padding-left: 30px;
  padding-right: 132px;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  letter-spacing: 0.05em;
}

@media (min-width: $tablet-width) {
  .products {
    display: flex;
    font-size: 20px;
    line-height: 30px;
  }

  .products__item {
    width: 50%;
    flex-grow: 1;
  }

  .products__link {
    padding-top: 25px;
    padding-bottom: 35px;
    padding-right: 185px;
    padding-left: 38px;
  }
}

@media (min-width: $desktop-width) {
  .products__link {
    padding-top: 28px;
    padding-bottom: 32px;
    padding-right: 350px;
  }
}
