.products {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.products__item--left {
  background-color: #63d1bb;
}

.products__item--right {
  background-color: #56c3b2;
}

.products__link {
  display: block;
  padding-left: 30px;
  padding-right: 132px;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.products__item:hover .products__link--left {
  position: relative;
  top: -5px;
  background-color: #63d1bb;
}

.products__item:hover .products__link--right {
  position: relative;
  top: -5px;
  background-color: #56c3b2;
}

.products__item:hover .products__link__svg--left {
  top: 18px;
}

.products__item:hover .products__link__svg--right {
  bottom: 25px;
}

.products__item:active .products__link__svg {
  opacity: 0.3;
}

.products__item:active .products__text {
  opacity: 0.3;
}

.products__link__svg {
  position: absolute;
  fill: #149080;
  opacity: 0.5;
  cursor: pointer;
}

.products__link__svg--left {
  top: 23px;
  right: 37px;
  fill: #149080;
}

.products__link__svg--right {
  bottom: 20px;
  right: 28px;
  fill: #149080;
}

@media (min-width: $tablet-width) {
  .products {
    position: relative;
    display: flex;
    font-size: 20px;
    line-height: 30px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat;
  }

  .products::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: -20px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: contain;
    height: 27px;
    width: 780px;
    clip: rect(0, 688px, 20px, 0);
  }

  .products__item {
    width: 50%;
    flex-grow: 1;
  }

  .products__link {
    padding-top: 25px;
    padding-bottom: 35px;
    padding-right: 185px;
    padding-left: 38px;
  }

  .products__link__svg--left {
    top: 28px;
    left: 258px;
  }

  .products__link__svg--right {
    top: 30px;
    right: 30px;
  }

  .products__item:hover .products__link__svg--right {
    top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .products__link {
    padding-top: 28px;
    padding-bottom: 32px;
    padding-right: 350px;
  }

  .products::after {
    left: -100px;
    bottom: -22px;
    height: 40px;
    width: 1250px;
    clip: rect(0, 1150px, 20px, 100px);
  }

  .products__link__svg--left {
    top: 28px;
    left: 446px;
  }

  .products__link__svg--right {
    top: 30px;
    right: 35px;
  }
}
