.reviews__container {
  padding-bottom: 50px;
}

.reviews__list {
  padding-right: 30px;
  padding-left: 30px;
}

.reviews__title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__item {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.reviews__author {
  display: block;
  margin-bottom: 30px;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.reviews__name {
  display: block;
  margin-bottom: 5px;
  font-style: normal;
}

.reviews__email {
  font-weight: 400;
  font-style: normal;
}

.reviews__button {
  margin-bottom: 40px;
  height: 53px;
}

.reviews__write-link {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .reviews__container {
    padding-top: 77px;
    padding-bottom: 90px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .reviews__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .reviews__title {
    width: 334px;
    font-size: 43px;
    line-height: 50px;
    order: -2;
    margin-bottom: 0;
  }

  .reviews__item {
    padding-top: 46px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    width: 668px;
  }

  .reviews__write {
    padding-top: 4px;
    width: 334px;
    order: -1;
  }

  .reviews__write-link {
    width: 167px;
    float: right;
  }

  .reviews__author {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 334px;
    margin: 0;
    padding: 0;
  }

  .reviews__name {
    letter-spacing: 0.05em;
  }

  .reviews__button {
    width: 334px;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    padding-top: 68px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 100px 0;
    padding-bottom: 140px;
  }

  .reviews__list {
    padding-left: 173px;
  }

  .reviews__title {
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__write-link {
    width: 172px;
    float: right;
  }

  .reviews__item {
    width: 770px;
    margin: 0;
    padding-top: 44px;
    padding-bottom: 42px;
    padding-right: 105px;
  }

  .reviews__write {
    padding-top: 10px;
    width: 175px;
  }

  .reviews__author {
    width: 700px;
  }

  .reviews__name {
    letter-spacing: 0.01em;
  }

  .reviews__button {
    width: 175px;
  }

  .reviews__write-link {
    letter-spacing: -0.05em;
  }
}
