.reviews__container {
  padding-bottom: 40px;
}

.reviews__list {
  padding-right: 30px;
  padding-left: 30px;
}

.reviews__title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__item {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.reviews__author {
  display: block;
  margin-bottom: 33px;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.reviews__name {
  display: block;
  margin-bottom: 5px;
  font-style: normal;
}

.reviews__email {
  font-weight: 400;
  font-style: normal;
}

.reviews__button {
  position: relative;
  display: flex;
  margin-bottom: 38px;
  height: 53px;
}

.reviews__prev,
.reviews__next {
  width: 130px;
  height: 53px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}

.reviews__svg {
  position: absolute;
  cursor: pointer;
}

.reviews__svg--left {
  top: 12px;
  left: 38px;
}

.reviews__svg--right {
  top: 12px;
  right: 42px;
}

.reviews__svg-line {
  display: block;
  width: 320px;
  height: 10px;
  margin: 0 auto;
  transform: rotate(180deg);
  fill: #f1f1f1;
}

.reviews__write-link {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .reviews__container {
    padding-top: 77px;
    padding-bottom: 80px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .reviews__title {
    width: 334px;
    font-size: 43px;
    line-height: 50px;
    order: -2;
    margin-bottom: 0;
  }

  .reviews__item {
    padding-top: 44px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    width: 668px;
  }

  .reviews__write {
    padding-top: 4px;
    width: 334px;
    order: -1;
  }

  .reviews__write-link {
    width: 167px;
    float: right;
  }

  .reviews__author {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 334px;
    margin: 0;
    padding: 0;
  }

  .reviews__name {
    letter-spacing: 0.05em;
  }

  .reviews__button {
    width: 169px;
  }

  .reviews__prev,
  .reviews__next {
    width: 83.5px;
    border: none;
  }

  .reviews__svg--left {
    top: 14px;
    left: 14px;
  }

  .reviews__svg--right {
    top: 14px;
    right: 12px;
  }

  .reviews__svg-line {
    display: block;
    width: 768px;
    height: 15px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    padding-top: 72px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 100px 0;
    padding-bottom: 130px;
  }

  .reviews__list {
    padding-left: 173px;
  }

  .reviews__title {
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__write-link {
    width: 172px;
    float: right;
    letter-spacing: -0.05em;
  }

  .reviews__item {
    width: 770px;
    margin: 0;
    padding-top: 44px;
    padding-bottom: 42px;
    padding-right: 105px;
  }

  .reviews__write {
    padding-top: 10px;
    width: 175px;
  }

  .reviews__author {
    width: 700px;
  }

  .reviews__name {
    letter-spacing: 0.01em;
  }

  .reviews__svg--right {
    right: 18px;
  }

  .reviews__svg-line {
    width: 1050px;
    height: 21px;
  }
}
