.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ececec;
}

.site-list__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 26px;
  padding-left: 76px;
  color: #000000;
  font-weight: 700;
  border-bottom: 1px solid #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:hover {
    active: 0.3;
  }
}

.site-list__link--main {
  font-size: 17px;
  line-height: 24px;
}

.site-list__item--add {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    border: none;
  }

  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item {
    width: 160px;
  }

  .site-list__item:nth-child(3),
  .site-list__item:nth-child(4) {
    height: 0;
  }

  .site-list__item:nth-child(4) {
    width: 155px;
    padding-left: 5px;
  }

  .site-list__link {
    padding-top: 34px;
    padding-bottom: 0;
    padding-left: 0;
    border: none;
}

  .site-list__link--main,
  .site-list__link--add {
    font-size: 15px;
    line-height: 24px;
  }

  .site-list__item--add {
    display: block;
    visibility: hidden;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    width: 185px;
  }

  .site-list__link {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .site-list__item:nth-child(2n) {
    padding-left: 35px;
    width: 155px;
  }

  .site-list__item:first-child,
  .site-list__item:nth-child(2) {
    height: 0;
  }

  .site-list__item:nth-child(4) {
    width: 186px;
  }

  .site-list__item:nth-child(3),
  .site-list__item:nth-child(4) {
    padding-top: 10px;
    height: auto;
    order: -1;
  }

  .site-list__item:nth-child(3) {
    border-right: 1px solid #ececec;
  }

  .site-list__link--main {
    font-size: 17px;
    line-height: 24px;
  }

  .site-list__item--add {
    display: block;
    visibility: visible;
  }

  .site-list__link--add {
    font-size: 15px;
    line-height: 24px;
  }
}
